.anim-typewriter{
  display: inline-block !important;
  font-family: 'Roboto Mono', monospace!important;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent !important; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto !important; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em !important; /* Adjust as needed */
}

@keyframes typewriter{
  from{max-width: 0%;}
  to{max-width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: violet;}
  to{border-right-color: transparent;}
}

@keyframes glow {
  0% { box-shadow: 0 0 0px, 0 0 0px inset;}
  50% { box-shadow: 0 0 30px, 0 0 30px inset;}
  100% { box-shadow: 0 0 0px, 0 0 0px inset;}
}

@keyframes glowOut {
  0% { box-shadow: 0 0 20px, 0 0 20px inset;}
  100% { box-shadow: 0 0 0px, 0 0 0px inset;}
}

@keyframes oscillateIndicator {
  0% { background-position: 0% 25%; }
  50% { background-position: 0% 75%; }
  100% { background-position: 0% 25%; }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes pulse {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 250% 250%;
  }
  100% {
    background-size: 100% 100%;
  }
}
