.home-module-container{
  display: flex;
  flex-direction: column;
  height: 35vmin;
  width: 35vmin;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  /* border: solid 2px azure; */
  margin: 12px;
  box-shadow: 0 0 0px red;
  animation: glowOut 1s ease forwards;
  font-size: 6vmin !important;
}

.home-module-container:hover{
  font-size: 8.2vmin !important;
  animation: glow 2s ease infinite;
}

.home-module-title{
  font-size: inherit !important;
  overflow: hidden;
  white-space: nowrap;
  font-family: Ubuntu Light !important;
  transition: all .3s !important;
  color: white;
}

.home-module-body{
  font-size: 0vmin !important;
  color: Whitesmoke;
  transition: all .3s !important;
  transform: translateY(200%);
  overflow-y: hidden;
  opacity: 0;
}

.home-module-hover{
  font-size: 2.25vmin !important;
  transform: translateY(10%);
  opacity: .8;
}
