.resume-container{
  max-height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.resume-tabs-root{
  height: 100vh;
  width: 44px !important;
  max-width: 44px !important;
  min-width: 44px !important;
  color: violet;
  /* background: red; */
}

.resume-tabs-indicator{
  background: linear-gradient(to bottom, black, black, black, violet, black, black, black) !important;
  background-size: 200% 200% !important;
  animation: oscillateIndicator 3s ease infinite;
}

.resume-tab-root{
  height: calc(100vh/3);
  min-width: 100% !important;
  padding: 0 !important;
}

.resume-tab-wrapper{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.25em;
  color: white;
}

.resume-section-container{
  padding: 16px;
  height: calc(100vw - 48px);
  width: calc(100vw - 76px);
}

.resume-section-skills{
  width: calc(100vw - 160px);
  height: calc(100% - 160px);
  overflow-y: auto;
}

.resume-section-title{
  margin-bottom: 36px !important;
}

.resume-skill{
  border: 1px inset rgba(255,255,255,.1);
  border-radius: 2px;
  text-align: center;
  padding: 8px;
  transition: all .2s;
  color: rgba(255,255,255,.5);
  white-space: nowrap;
}

.experience-company{
  border: 1px solid rgba(255,255,255, .1);
  padding: 8px;
  border-radius: 2px;
  transition: all .4s;
  white-space: nowrap;
  font-size: 3vmin !important;
  text-align: center;
  color: rgba(255,255,255,.5);
}

.experience-company:hover{
  border-color: violet;
  box-shadow: 0 0 20px violet inset;
  color: whitesmoke;
}

.experience-data{
  padding: 36px;
  color: gainsboro;
}

.experience-role{
  padding-left: 12px;
  font-family: "Ubuntu" !important;
  font-weight: bold !important;
  font-size: 6vmin !important;
  border-bottom: 1px solid violet;
  border-left: 1px solid violet;
}

.experience-desc{
  font-size: 4vmin !important;
  padding: 24px;
  line-height: 1.6 !important;
}

.resume-pdf-link{
  border: 1px solid deepskyblue;
  border-radius: 2px;
  padding: 12px;
  color: deepskyblue;
  position: fixed;
  right: 12px;
  top: 12px;
  cursor: pointer;
  transition: all .3s;
}

.resume-pdf-link:hover{
  box-shadow: 0 0 20px inset deepskyblue;
}

a{
  text-decoration: none;
}

a:hover{
  filter: brightness(120%);
}

/* Mobile Styling */
@media screen and (max-width: 767px){
  .resume-container{
    overflow-x: hidden;
    /* margin-left: 48px !important; */
  }

  .resume-section-title{
    font-size: 1.5em !important;
  }

  .resume-section-container{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: calc(100vh - 60px);
    width: 100%;
  }

  .resume-section-heading{
    width: 80% !important;
  }

  .resume-myName{
    font-size: 3em !important;
  }

  .resume-roles{
    font-size: 1.8em !important;
  }


}
